/* .slider{
    width:1200px;
    height:280px;
    overflow: hidden;
} */
.slides{
    display: flex;
}
/* .slides>img{
    width:1200px;
    height:auto;
} */
/* .introduce-silde{
    display: flex;

} */

.introduce-silde{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width:1200px;
    height: 270px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.slides{
    width:200%;
    height:270px;
    display: flex;
}

.slide-img{
    width:1200px;
    height:100%;
    border-radius: 10px;
}
.slides>input{
    display: none;
}
.slide{
    width: 50%;
    height:270;
    transition:1.5s;
}

.navigation-manual{
    /* border: 2px solid #30d3dc; */
    width:1200px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    /* background-color: red; */
    position: absolute;
    right:-45%;
    bottom:10px;
}
.manual-btn{
    /* border: 2px solid #d9d9d9;   */
    padding:4px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-right: 10px;
    background-color: #d9d9d9;
}
.manual-btn:hover{
    background-color: #7f7f7f;
}
#radio1:checked~.first{
    margin-left: 0;
}
#radio2:checked~.first{
    margin-left: -50%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 1200px;
    justify-content: center;
    right:-45%;
    bottom:10px;
}
.navigation-auto div{
    /* border: 2px solid #d9d9d9;  */
    padding:4px;
    border-radius:10px;
    transition: linear 1s;
}
.auto{
    margin-right: 10px;
}

#radio1:checked~.navigation-auto.btn1{
    background-color: #7f7f7f;
}

#radio2:checked~.navigation-auto.btn2{
    background-color: #7f7f7f;
}

@keyframes slideIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.row-nowrap{
    display: flex;
    flex-wrap: nowrap;
    width:1200px;
    /* overflow: hidden; */
    
}
.place-slide{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.slider{
    /* overflow: hidden; */
    width:1200px;
    height:270px;
    overflow: hidden;
    
}
.place-slides{
    /* width:200%; */
    height: 270px;
    display: flex;
    overflow: hidden;
}
.place-slide-btn{
    position: absolute;
    background-color:white;
    border-radius: 50%;
    border: 1px solid rgb(0 0 0 / 20%);
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
    display: flex;
}
.place-slide-btn:hover i{
    color: orangered;
}

.btn-next{
    right:0;
    top:50%;
    transform: translate(0, -50%);
}
.btn-pre{
    left:0;
    top:50%;
    transform: translate(0, -50%);
}

.icon{
    margin:auto;
}
.place-slides{
    /* margin-left: -20%; */
}